<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>로그인</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container" align="center">
    <h3 class="form-signin-heading text-center mb-5">💚대시보드💚</h3>
	<h4 class="overview-normalize">접속 아이디</h4>
	<p th:text="${session.member.userid}">
	 아이디 출력
	</p>
	<hr/>
    <h4 class="overview-normalize">이름</h4>
	<p th:text="${session.member.username}">
	 이름 출력
	</p>
    <hr/>
    
    <button class = "btn btn-sm btn-success btn-block">관리자 페이지</button>
    <button class = "btn btn-sm btn-primary btn-block">관리자 페이지</button>
    
    <form method="post" >
        <button class="btn btn-sm btn-danger btn-block" type="submit" id="logoutbtn">로그아웃</button>
    </form>

</div>
	
</body>
</html>